<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.plateer.cherrymallapi.member.mapper.MemberMapper">
    <select id="getMemberList" resultType="com.plateer.cherrymallapi.member.vo.MemberVo">
        SELECT *
        FROM member_base
        ORDER BY member_id DESC
    </select>
</mapper>